---
layout: layout.njk
---
{% starterMessage %}
<div class="starter-message">
	<style>
	.starter-message {
		background-color: hsla(0, 0%, 0%, .4);
		border: 2px solid hsla(60, 100%, 2%, 1);
		border-radius: .5em;
		padding: 2rem;
		margin: 2rem auto;
		max-width: 40em;
	}
	.starter-message h3 {
		margin-top: 0;
	}
	.starter-message ol {
		margin: 0;
	}
	</style>
	<h3>Commentaires sur la version déployée</h3>
	<ol>
		<li>Aucune modification n'a été réalisée sur le code de Zack Leatherman, disponible sur son repo GitHub (cf. lien ci-dessus)</li>
		<li>Les URL des sites référencés sont totalement publiques</li>
		<li>Les mesures effectuées peuvent évoluer dans le temps, en fonction des outils de mesure fournis par Google ainsi que de la qualité du code délivré par les entreprises</li>
		<li>Le site Hermes n'est pas pris en compte suite à une 'protection' mise en oeuvre contre les 'robots'</li>
		<li>Le score maximum est de 400, sachant qu'un score inférieur à 360 se doit d'être amélioré</li>
		<li><i>01/07/2023 : Edenred a remplacé Vivendi dans le CAC40</i></li>
	</ol>
</div>
{% endstarterMessage %}
<table class="leaderboard leaderboard-list">
	<caption>Détails des mesures</caption>
	<thead data-sr-only>
		<tr>
			<th>Category</th>
			<th>Site Count</th>
			<th>Last Run Date</th>
		</tr>
	</thead>
	<tbody>
	{%- for key, category in sites %}
		{%- if not category.hide %}
		<tr>
			<td><a href="{{ ('/' + (category.name or key) | lower | slug + '/') | url }}">{{ category.description or category.name or key }}</a></td>
			<td><span class="count">×{{ category.urls.length }}<span class="leaderboard-hide-sm"> site{% if category.urls.length != 1 %}s{% endif %}</span></span></td>
			<td class="leaderboard-hide-sm">{% if lastruns[key].timestamp %}<span class="small"><timestamp-ago timestamp="{{ lastruns[key].timestamp }}">{{ lastruns[key].timestamp | displayDate | safe }}</timestamp-ago></span>{% endif %}</td>
		</tr>
		{%- endif %}
	{%- endfor %}
	</tbody>
</table>
<table class="leaderboard leaderboard-list">
	<caption>Classement établi le {{page.date.toLocaleString("fr-FR")}}</caption>
	<tbody>
	{% for item in ranking_sorted %}

		{%- if item.score %}
		<tr>
			<td>#{{loop.index}}</td>
    		<td>{{ item.valeur }}</td>
			<td>{{ item.score }}</td>	
		</tr>

		{%- endif %}

    {% endfor %}
	</tbody>


</table>